<% include ../partials/header.ejs %>

<h1 class="text-center">Welcome to Fantasy Starcraft 2</h1>

<div class="row">
<% for(var i = 0; i < events.length; i++) { %>
    <% if (new Date(events[i].endDate) > new Date()) { %>
    <div class="jumbotron tourney-list col-md-6 col-md-offset-3">
        <div class="row">
            <h3 class="text-center"><%=events[i].name%></h3>
            <h4 class="text-center"><%=printDate(events[i].startDate) + ' - ' + printDate(events[i].endDate)%></h4>
            <div class="row">
                <div class="col-md-4">
                    <h5><b>Location:</b> <%=events[i].location%></h5>
                </div>
                <div class="col-md-4">
                    <h5><b>Prize Pool:</b> <%=events[i].prize%></h5>
                </div>
                <div class="col-md-4">
                    <h5><b>Players:</b> <%=events[i].roster.length > 0 ? events[i].roster.length : 'Unknown'%></h5>
                </div>
            </div>
            <div class="row">
                <% if(events[i].roster.length > 0) { %>
                    <a href="/tournament/<%=events[i].name.replace(/ /g,'_')%>" class="btn btn-warning bottomBtn btn-sm center-block">View Roster and Create League/Team</a>
                <% } else { %>
                    <a href='#' class="btn btn-default bottomBtn btn-sm center-block disabled">No Roster Avaliable</a>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
<% } %>
</div>

<% include ../partials/footer.ejs %>