<% include ../partials/header.ejs %>

<h1 class="text-center">Your Leagues</h1>
<% for(var i = 0; i < leagues.length; i++) { %>
    <% if(findUser(leagues[i].users,user.id)) { %>
<div class="row">
    <div class="jumbotron">
    <h2 class="text-center"><%=leagues[i].tournament.name%></h2>
    <h3 class="star-font text-center"><%=leagues[i].name%></h3>
    <h3 class="text-center">Join link: <a href="<%=url+'/manage/join/'+encode(leagues[i].id)%>"><%=url+'/manage/join/'+encode(leagues[i].id)%></a></h3>
    <% var noTeam = true; %>
    <% leagues[i].teams.forEach(function(team,count) { %>
        <% if (team.userId === user.id) noTeam = false; %>
        <hr>
        <h4 class="text-center"><b><%=findUser(leagues[i].users,team.userId)%>:</b> <%=team.name%></h4>
        <input type="hidden" class="playerArr" value="<%=team.players[0]%>;<%=team.players[1]%>;<%=team.players[2]%>;<%=team.players[3]%>;<%=team.players[4]%>;<%=team.players[5]%>">

        <table class="table table-striped table-bordered team-table line-up" id="<%=count%>">
        <tr><th class="header" colspan="3">Total Points</th><th class="header total" colspan="2"></th></tr>
        <tr><th>Player</th><th>Wins</th><th>Loses</th><th>Streaks</th><th>Points</th></tr>
        <tr id="loader<%=count%>"><td colspan="5" class="loading-horizontal"><img class="loading-horizontal" src="/images/ajax-loader-horizontal.gif"></td></tr>
        </table>
    </div>
    <% }) %>
    <% if(noTeam) { %>
    <a href="/tournament/<%=leagues[i].tournament.name.replace(/ /g,'_')%>" class="btn btn-warning center-block">Create a Team for <em><%=leagues[i].name%></em></a>
    <% } %>
</div>
<% } %>
<% } %>

<% include ../partials/footer.ejs %>