<% include ../partials/header.ejs %>

<h1 class="text-center"><%=name%></h1>
<hr>
<% if(user && leagues.length > 0) { %>
    <% var noTeams = leagues.filter(function(league) { %>
        <% for(var i = 0; i < league.teams.length; i++) { %>
            <% if (league.teams[i].userId === user.id) return false; %>
        <% } %>
        <% return true %>
    <% }) %>
    <form id="createTeamForm" action="/manage/create/team" method="post">
        <div class="row">
        <div class=" col-md-10 col-md-offset-1">
        <div class="row">
    <div class="form-group">
            <div class="col-md-5">
        <input type="text" name="name" placeholder="Enter your team name" class="form-control">
            </div>
        <label for="id" class="col-md-1"><h4 class="text-center star-font blue-glow">for</h4></label>
            <div class="col-md-4">
        <select class="form-control" name="id" id="selectLeague">
            <% leagues.forEach(function(league,idx){ %>
                <option <%=(idx === 0 ? 'class="selected"':'')%> value="<%=league.id%>"><%=league.name%></option>
            <% }) %>
        </select>
            </div>
            <!-- <div class="col-md-2"> -->
            <input type="submit" class="btn btn-warning col-md-2" value="Create Team">
            <!-- </div> -->
        </div>

        </div>
        </div>
    </div>
    <br>
<div class="row">
    <div class="col-md-2 slot" id="slot1"><h3 class="text-center slot-name">Empty Player Slot</h3></div><div class="col-md-2 slot" id="slot2"><h3 class="text-center slot-name">Empty Player Slot</h3></div><div class="col-md-2 slot" id="slot3"><h3 class="text-center slot-name">Empty Player Slot</h3></div>
    <div class="col-md-2 slot" id="slot4"><h3 class="text-center slot-name">Empty Player Slot</h3></div><div class="col-md-2 slot" id="slot5"><h3 class="text-center slot-name">Empty Player Slot</h3></div><div class="col-md-2 slot" id="slot6"><h3 class="text-center slot-name">Empty Player Slot</h3></div>
</div>
<br>
    <input type="hidden" name="slot1" id="inputSlot1" value="">
    <input type="hidden" name="slot2" id="inputSlot2" value="">
    <input type="hidden" name="slot3" id="inputSlot3" value="">
    <input type="hidden" name="slot4" id="inputSlot4" value="">
    <input type="hidden" name="slot5" id="inputSlot5" value="">
    <input type="hidden" name="slot6" id="inputSlot6" value="">
    <input type="hidden" name="tournamentId" value="<%=id%>">
    </form>
<hr>
<% } if (user) { %>
<div class="row">
    <form id="createLeagueForm" action="/manage/create/league" method="post">
    <div class="col-md-4 col-md-offset-2 form-group">
        <input type="text" name="name" placeholder="Enter your league name" class="form-control">
    </div>
    <input type="hidden" name="endDate" value="<%=end%>">
    <input type="hidden" name="tournamentId" value="<%=id%>">
        <input type="submit" class="col-md-4 btn btn-warning" value="Create League">
    </form>
</div>
<hr>
<% } %>
<div class="row">
    <div class="col-md-6 pane roster">
        <input type="hidden" value="/pull/<%=param%>" id="param">
        <ul class="list-group roster">
            <li class="blank"></li>
        </ul>
        <img class="loading" style="display: inline-block" src="/images/ajax-loader.gif">
    </div>
    <div class="col-md-6 pane stats">
        <table class="statTable">
            <tr><td class="pull-right">Overall Average</td><td class="stat"><div class="progress progress-striped"><div class="progress-bar progress-bar-warning" id="overallRecord"><span></span></div></div></td></tr>
            <tr><td class="pull-right">Average vP</td><td class="stat"><div class="progress progress-striped"><div class="progress-bar progress-bar-success" id="vP"><span></span></div></div></td></tr>
            <tr><td class="pull-right">Average vT</td><td class="stat"><div class="progress progress-striped"><div class="progress-bar progress-bar-primary" id="vT"><span></span></div></div></td></tr>
            <tr><td class="pull-right">Average vZ</td><td class="stat"><div class="progress progress-striped"><div class="progress-bar progress-bar-danger" id="vZ"><span></span></div></div></td></tr>
            <tr><td class="pull-right">Overall Rank</td><td id="overallRank" class="stat"></td></tr>
            <tr><td class="pull-right">Rank vP</td><td id="vPRank" class="stat"></td></tr>
            <tr><td class="pull-right">Rank vT</td><td id="vTRank" class="stat"></td></tr>
            <tr><td class="pull-right">Rank vZ</td><td id="vZRank" class="stat"></td></tr>
        </table>
        <img class="loading" src="/images/ajax-loader.gif">
    </div>
</div>

<% include ../partials/footer.ejs %>